*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 250px;
  height: 200px;
 
}

.lists {
  padding: .2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin: 1rem 0;
}

.card {
  
}